.search__input {
    width: 100%;
    background: #fff;
    border: 1px solid #d1d2d6;
    box-sizing: border-box;
    border-radius: 100px;
    backdrop-filter: blur(8px);
    font-family: 'roboto-regular', sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #1a1b22;
    text-align-last: left;
    padding: 0 24px;
}

.search__input:focus {
    border: 1px solid aqua;
}

.search__input:active, .search__input:focus {
    outline: none;
}
.search__input::-moz-focus-inner {
    border: 0;
}

@media screen and (max-width: 767px) {
    .search__input {
        width: 100%;
        min-height: 56px;
    }
}