.news__subtitle-span {
    margin: 0;
    font-family: roboto-regular, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #b6bcbf;
}

@media screen and (max-width: 767px) {
    .news__subtitle-span {
        display: none;
    }
}