.histogram__container {
    margin: 80px 104px;
    
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .histogram__container {
        margin: 40px;
    }
}

@media screen and (max-width: 767px) {
    .histogram__container {
        margin: 24px 16px 38px;
    }
}