@import url(./_1/histogram__column-hist-text_1.css);
@import url(./_2/histogram__column-hist-text_2.css);
@import url(./_3/histogram__column-hist-text_3.css);
@import url(./_4/histogram__column-hist-text_4.css);
@import url(./_5/histogram__column-hist-text_5.css);
@import url(./_6/histogram__column-hist-text_6.css);
@import url(./_7/histogram__column-hist-text_7.css);

.histogram__column-hist-text {
    margin: 0 0 0 2px;
    font-family: roboto-regular, sans-serif;
    font-size: 0.7rem;
    color: #fff;
}