.history__card-title {
    margin: 4px 0 0 0;
    font-family: robotoslab, serif;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #1a1b22; 
}

@media screen and (max-width: 767px) {
    .history__card-title {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.9rem;
    }
}