@import url(./_active/header__link_active.css);
@import url(./_active_black/header__link_active_black.css);
@import url(./_black/header__link_black.css);

.header__link {
    font-family: roboto-regular, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #b6bcbf;
    text-decoration: none;
}

.header__link:hover {
    color: #fff;
}

.header__link:active {
    opacity: 0.9;
}

@media screen and (max-width: 767px) {
    .header__link {
        font-size: 1rem;
    }
}