.result__title {
    margin: 0;
    font-family: robotoslab, serif;
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: #1a1b22;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .result__title {
        font-size: 1.8rem;
        line-height: 2.1rem;
    }
}