.search__button {
    background-color: #2f71e5;
    border: 1px solid #2f71e5;
    border-radius: 100px;
    
    width: 27%;
    height: 100%;
    font-family: 'roboto-regular', sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    color: white;
    display: block;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;     
}

.search__button:hover {
    background-color:#347EFF;
    cursor: pointer;
}

.search__button:active,
.search__button:focus {
    background-color: #2A65CC;
    cursor: pointer;
    outline: aqua;
    border: 1px solid aqua;
    border-radius: 100px;
}

/* .search__button:active, .search__button:focus {
    outline: none;
} */
/* .search__button::-moz-focus-inner {
    border: 0;
} */

@media screen and (min-width: 768px) and (max-width: 850px) {
    .search__button {
        width: 30%;
    }
}

@media screen and (max-width: 767px) {
    .search__button {
        width: 100%;
        position: relative;
        padding: 0;
        min-height: 56px;
        margin: 16px 0 0;
    }
}