.news__content {
    margin: 24px 0 4px 0;
    font-family: roboto-regular, sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.5rem;
    color: #1a1b22;
}

.news__content:nth-of-type(2) {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .news__content {
        margin: 16px 0 0;
    }
}