.histogram__x-axis_day {
    margin: 0 0 0 182px;
    width: 80px;
    text-align: center;
    font-family: roboto-regular;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #b6bcbf;
}

.histogram__x-axis_day:nth-of-type(1) {
    margin: 0 0 0 117px;
    text-align: start;
}

.histogram__x-axis_day:nth-of-type(5) {
    text-align: end;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .histogram__x-axis_day {
        margin: 0 0 0 42px;
    }
}