.header-black__content_about {
    margin-right: 34px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.header-black__content_about:nth-of-type(2) {
    margin-right: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .header-black__content_about {
        min-height: 64px;
    }
}

@media screen and (max-width: 767px) {
    .header-black__content_about {
        min-height: 56px;
    }
}