@import url(./__title/search__title.css);
@import url(./__subtitle/search__subtitle.css);
@import url(./__content-input/search__content-input.css);
@import url(./__input/search__input.css);
@import url(./__button/search__button.css);
@import url(./__error/search__error.css);

.search {
    max-width: 1440px;
    width: 100%;
    background-image: url(../../images/search-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto-regular, sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .search {
        align-items: flex-start;
    }
}