@import url(./__copyright/footer__copyright.css);
@import url(./__container-icon/footer__container-icon.css);
@import url(./__link/footer__link.css);
@import url(./__menu/footer__menu.css);
@import url(./__menu-li/footer__menu-li.css);
@import url(./__menu-link/footer__menu-link.css);
@import url(./__menu-ul/footer__menu-ul.css);

.footer {
    display: flex;
    width: 100%;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .footer {
        min-height: 64px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        max-height: 320px;
        position: relative;
    }
}
