@import url(./_main/header__content_main.css);
@import url(./_about/header__content_about.css);

.header__content {
    display: flex;
    margin: 0 7% 0 0;
}

@media screen and (max-width: 768px) {
    .header__content {
        margin: 0 5% 0 0;
    }
}