.tech__container {
    margin: 93px 216px 0 0;
    display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
    .tech__container {
        margin: 40px 40px 50px;
    }
}

@media screen and (max-width: 767px) {
    .tech__container {
        margin: 40px 24px 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
        grid-template-rows: 1fr 1fr;
    }
}