.search__subtitle {
    font-family: roboto-regular, sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #fff;
    margin: 32px 0 0;
    width: 40%;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .search__subtitle {
        margin: 16px 0 0 160px;
        font-size: 1.1rem;
        line-height: 1.5rem;
        width: calc(100% - 320px);
    }
}

@media screen and (max-width: 767px) {
    .search__subtitle {
        margin: 16px 16px 0;
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 100;
        width: calc(100% - 32px);
    }
}