.search__content-input {
    width: 42%;
    min-height: 4rem;
    display: flex;
    margin: 64px 0 80px;
    position: relative;
    
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .search__content-input {
        margin: 24px 0 48px 160px;
        width: 55%;
        min-height: 56px;
    }
}

@media screen and (max-width: 767px) {
    .search__content-input {
        margin: 64px 16px 32px;
        width: calc(100% - 32px);
        min-height: auto;
        flex-direction: column;

    }
}

