.author__about {
    margin: 24px 0 0;
    font-family: roboto-regular, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #1a1822;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .author__about {
        margin: 16px 0 0;
    }

    .author__about:nth-of-type(2) {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .author__about {
        margin: 16px 0 0;
    }

    .author__about:nth-of-type(2) {
        margin: 0;
    }
}