.result__button {
    background-color: #FFF;
    border: 1px solid #fff;
    border-radius: 80px;
    margin: 64px auto 80px;
    width: 21%;
    min-height: 64px;
    height: 100%;
    font-family: 'roboto-regular', sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #1a1b22;
    display: block;
    cursor: pointer;   
}

.result__button:hover {
    background: rgba(255, 255, 255, .6);
}

.result__button:active,
.result__button:focus {
    opacity: 0.9;
    cursor: pointer;
    outline: aqua;
    border: 1px solid aqua;
    border-radius: 100px;
    background: rgba(255, 255, 255, .4);
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .result__button {
        margin: 0 0 40px;
        font-size: 1.1rem;
        line-height: 1.5rem;
        width: calc(100% - 528px);
    }
}

@media screen and (max-width: 767px) {
    .result__button {
        margin: 13px 16px 44px;
        width: calc(100% - 32px);
    }
}