.history__button {
    position: absolute;
    top: 0;
    content: ' ';
    max-width: 88px;
    width: 100%;
    min-height: 288px;
    background: linear-gradient(180deg, rgba(246, 246, 247, 0) 0%, #f5f6f7 100%);
}

.history__button:nth-of-type(2) {
    right: 0;
}

@media (max-width: 1400px) {
    .history__button {
        display: none;
    }
}