@import url(./__title/tech__title.css);
@import url(./__container/tech__container.css);
@import url(./__item/tech__item.css);
@import url(./__subtitle/tech__subtitle.css);
@import url(./__image/tech__image.css);

.tech {
    width: 100%;
    background-color: #f5f6f7;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1100px) {
    .tech {
        flex-direction: column;
    }
}