.history__container {
    margin: 72px 112px 0 104px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .history__container {
        margin: 40px 40px 0;
    }
}

@media screen and (max-width: 767px) {
    .history__container {
        margin: 32px 16px 0;
        width: 50%;
    }
}