@import url(./__title/header-black__title.css);
@import url(./__content/header-black__content.css);
@import url(./__link/header-black__link.css);
@import url(./__link-underline/header-black__link-underline.css);
@import url(./__link-act/header-black__link-act.css);

.header-black {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-block-end: 1px;
    box-shadow: inset 0px -1px 0px #d1d2d6;
}