@import url(./_1/histogram__column-hist_1.css);
@import url(./_2/histogram__column-hist_2.css);
@import url(./_3/histogram__column-hist_3.css);
@import url(./_4/histogram__column-hist_4.css);
@import url(./_5/histogram__column-hist_5.css);
@import url(./_6/histogram__column-hist_6.css);
@import url(./_7/histogram__column-hist_7.css);

.histogram__column-hist {
    height: 24px;
    margin: 0 0 56px 0;
    content: ' ';
    background-color: #2f71e5;
    display: flex;
    align-items: center;
}

.histogram__column-hist:nth-of-type(7) {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .histogram__column-hist {
        margin: 0 0 28px 0;
    }
}